@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html body {
  font-family: 'Roboto Mono', monospace;
  background-color: white;
}

.navbar {
  border-bottom: 2px solid black;
}


td {
  width: 50%;
}